
body{
  background-image: linear-gradient(95deg,whitesmoke,blue);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
  min-width: 50%;
 
  
}

/* .title {
 
  margin-bottom: 20px;
} */

.inputs {
  margin: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

.button {
  margin: .5rem;
  width: 75px;
  border: none;
  border-radius: 5px;
  cursor: pointer ;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 background-image: linear-gradient(180deg,white,blue);
 
}

.button:hover{
  background-color: whitesmoke;
 
}



.title{
  display: inline;
  color: blanchedalmond;
  font-size:xx-large;
  align-items: center;
}

.description{
  color: antiquewhite;
}

.image{
  margin: 15px;
  border: 1px solid black;
}