body {
    display: grid;
    
    
}

h1 {
    text-align: center;
    display: grid;
    height: auto;
    width: auto;
}

h2 {
    text-align: center;
}
.Goomba{
position: relative;
}

.Bob-omb {
    position: relative;
}

.Cheep-Cheep{
position: inherit;
}
